{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ if .Data.Title }} {{ .Data.Title }} - Niltalk {{ else }}Niltalk &mdash; Instant disposable chat rooms{{ end }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ .Data.Description }}" />
	<meta name="keywords" content="instant chat, disposable chat" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<meta property="og:image" content="/static/images/thumbnail.png" />
	<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Inter:400,500&display=swap" rel="stylesheet">
	<link href="/static/style.css" rel="stylesheet" />
	<script>
		{{  if .Data.Room  }}
			window._room = {
				id: "{{ .Data.Room.ID }}",
				name: "{{ .Data.Room.Name }}",
				auth: {{ .Data.Auth }}
			};
		{{  end  }}
	</script>
</head>
<body>
<div class="container">
	<header class="header">
		<div class="logo">
			<a href="{{ .Config.RootURL }}"><img src="/static/images/logo.png" /></a>
		</div>
	</header>
	<div id="app" v-cloak>
{{  end  }}



{{  define "footer"  }}
		<div v-if="notifMessage" :class="notifType" class="notification">{( notifMessage )}</div>
	</div><!-- app -->
</div><!-- container -->

<script src="/static/vue.min.js"></script>
<script src="/static/client.js"></script>
<script src="/static/app.js"></script>

</body>
</html>
{{  end  }}
